{% extends "base.html" %}
{% load thumbnail commercial_tags static i18n %}

{% block title %}{{ page_title }} :: {{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
        {% if category %}
        <div class="col-md-4">
                <nav aria-label="breadcrumb" class="ml-3">
                    <ol class="breadcrumb">
                        {% for ancestor in category.get_ancestors_include_self %}
                            <li class="breadcrumb-item{% if forloop.last %} active{% endif %}"
                                aria-current="page">{% get_category_name ancestor request.user %}</li>
                        {% endfor %}
                    </ol>
                </nav>
        </div>
        {% endif %}
        <div class="{% if category %} col-md-8{% else %} col{% endif %}">
                <form class="form-inline float-right w-sm-100" method="GET" name="ordering">
                    <div class="form-group mx-2 d-none d-xl-block">
                        <label for="perPageCount" class="d-inline-block">{% trans "amount" %}:</label>
                        <select class="custom-select custom-select-sm" id="perPageCount" name="per_page"
                                onchange="goToPage(1)">
                            {% for value in paginator_list %}
                                <option value="{{ value }}" {% if value == per_page %}selected{% endif %}>
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mx-2 w-sm-100">
                    <label for="sortSelect" class="d-none d-xl-block">{% trans "price" %}:</label>
                    <select class="custom-select custom-select-sm d-inline-block" id="sortSelect" name="sort" onchange="goToPage(1)">
                        <option value="name">
                            {% trans "no ordering" %}
                        </option>
                        <option value="price" {% if sort == 'price' %}selected{% endif %}>
                            {% trans "from cheap to expensive" %}
                        </option>
                        <option value="-price" {% if sort == '-price' %}selected{% endif %}>
                            {% trans "from expensive to cheap" %}
                        </option>
                    </select>
                    </div>
                    {% if request.GET.query %}
                        <input type="hidden" name="query" value="{{ request.GET.query }}">
                    {% endif %}
                </form>
        </div>
    </div>
    {% for item in object_list %}
        <div class="row py-1">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row no-gutters{% if item.article.id in request.order.get_order_article_ids %} bought{% endif %}">
                        <div class="col-md-2">
                            <div class="carousel slide" data-ride="carousel" data-interval="false" id="carousel-{{ item.article.id }}">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="{% if item.main_image %}{{ item.main_image.url }}{% endif %}" role="button" data-toggle="modal"
                                           data-target="#imageModal">
                                            {% thumbnail item.main_image "small"|get_thumb_size crop="center" as im %}
                                            <img src="{{ im.url }}" class="card-img img-thumbnail"
                                                 width="150" height="150">
                                            {% endthumbnail %}
                                        </a>
                                    </div>
                                {% get_article_images item.article request.user as additional_images%}
                                    {% for i in additional_images %}
                                        <div class="carousel-item">
                                            <a href="{{ i.image.url }}" role="button" data-toggle="modal"
                                               data-target="#imageModal">
                                                {% thumbnail i.image "small"|get_thumb_size crop="center" as im %}
                                            <img src="{{ im.url }}" class="card-img img-thumbnail"
                                                 width="150" height="150">
                                            {% endthumbnail %}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                    {% if additional_images %}
                                        <a class="carousel-control-prev" href="#carousel-{{ item.article.id }}" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">{% trans "previose"|upper %}</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-{{ item.article.id }}" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">{% trans "next"|upper %}</span>
                                        </a>
                                    {% endif %}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-header">
                                <h5 class="card-title">
                                    {{ item.name }}
                                </h5>
                                    {% if item.is_less_then_five %}
                                        <p class="badge badge-warning mb-3">{% trans 'less than 5'|upper %}</p>
                                    {% endif %}
                            </div>
                            <div class="card-body">
                                <p class="card-subtitle">
                                    {% if item.length %}
                                        <span><i class="bi bi-arrows-angle-expand horizont"></i> {% trans 'length'|capfirst %}: {{ item.length }}</span>
                                    {% endif %}
                                    {% if item.width %}
                                        <span><i class="bi bi-arrows-angle-expand"></i> {% trans 'width'|capfirst %}: {{ item.width }}</span>
                                    {% endif %}
                                    {% if item.height %}
                                        <span><i class="bi bi-arrows-angle-expand vertical"></i>{% trans 'height'|capfirst %}: {{ item.height }}</span>
                                    {% endif %}
                                    {% if item.volume %}
                                        <span><i class="bi bi-box"></i> {% trans 'volume'|capfirst %}: {{ item.volume }}</span>
                                    {% endif %}
                                    {% if item.weight %}
                                        <span><i class="bi bi-box-arrow-down"></i> {% trans 'weight'|capfirst %}: {{ item.weight }}</span>
                                    {% endif %}
{#                                    {% if item.image_link %}#}
{#                                        <span><i class="bi bi-card-image"></i> <a href="{{ item.image_link }}" target="_blank">{% trans 'image'|capfirst %}</a> </span>#}
{#                                    {% endif %}#}
                                    {% if item.video_link %}
                                        <span><i class="bi bi-youtube"></i> <a href="{{ item.video_link }}" target="_blank">{% trans 'video'|capfirst %}</a> </span>
                                    {% endif %}
                                    {% if item.site_link %}
                                        <span><i class="bi bi-window"></i> <a href="{{ item.site_link }}" target="_blank">{% trans 'site'|capfirst %}</a> </span>
                                    {% endif %}
                                    {% if item.is_new %}
                                        <p class="badge badge-danger mb-2">{% trans 'new'|upper %}</p>
                                    {% endif %}
                                    {% if item.is_special %}
                                        <p class="badge badge-success mb-2">{% trans 'sale'|upper %}</p>
                                    {% endif %}
                                </p>

                                <p class="card-text truncated">{{ item.description|safe|truncatewords:15 }}</p>
                                <p class="card-text d-none">{{ item.description|safe }}</p>
                                <div class="card-text">
                                    <span class="h7 text-secondary">за шт. {{ item.retail_price }} {% trans 'retail price' %}</span>
                                </div>
                                <div class="card-text">
                                    за шт. <span class="h5">{% calculate_user_price item request.user %}</span>
                                </div>
                                <div class="card-text">
                                    <form class="form-inline mx-sm-3 mb-2">
                                        <label class="sr-only" for="{{ item.article.id }}_input">Количество</label>
                                        <input type="text" name="{{ item.article.id }}" id="{{ item.article.id }}_input"
                                               size=4 value="1" class="form-control form-control-sm">
                                        <a id="{{ item.article.id }}"
                                           href="{% url 'commercial_addto_cart_one' item.article.id %}/"
                                           class="btn btn-primary btn-sm ml-2"
                                           onclick="addToCart('{{ item.article.id }}');return false;">&nbsp;Да&nbsp;</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="pb-5"></div>
    {% include 'commercial/paginator.html' %}

    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="application/javascript">
      $(document).ready(function () {
        $('#imageModal').on('show.bs.modal', function (event) {
          const button = $(event.relatedTarget) // Button that triggered the modal
          const url = button.attr('href') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          const modal = $(this)
          modal.find('img').attr('src', url)
        })

        $('p.truncated').on('click', function (event) {
          event.preventDefault()
          $(event.target).addClass('d-none').next().removeClass('d-none')
        })
      })
    </script>
{% endblock %}
