{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
    <h1>{% translate 'Complaints' %}</h1>
    <a href="{% url 'commercial_complaint_add' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> {% translate 'New' %}</a>
    <table class="table table-striped py-3">
    <tr>
        <th scope="col">{% trans 'Complaint number' %}</th>
        <th scope="col">{% trans 'Date of purchase' %}</th>
        <th scope="col">{% trans 'Product name' %}</th>
        <th scope="col">{% trans 'Invoice' %}</th>
        <th scope="col">{% trans 'Status' %}</th>
    </tr>
    {% for complaint in complaint_list %}
        <tr>
            <td>
                <a href="{{ complaint.get_absolute_url }}">
                    {% if complaint.has_unread %}
                        <i class="fa-solid fa-envelope-open-text fa-fw text-primary"></i>
                    {% else %}
                        <i class="fa-solid fa-envelope fa-fw text-secondary"></i>
                    {% endif %}
                    {{ complaint.id }}
                </a>
            </td>
            <td>{{ complaint.date_of_purchase }}</td>
            <td>{{ complaint.product_name }}</td>
            <td>{{ complaint.invoice }}</td>
            <td>{{ complaint.get_status_display }}</td>
        </tr>
    {% endfor %}
    </table>
    {% include 'commercial/paginator.html' %}
{% endblock %}

{% block extra_body %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("td").on("dblclick", function (event) {
                window.location = $(event.currentTarget).parent().find('td:first-child > a').attr('href');
            })
        })
    </script>
{% endblock %}
