{% extends 'base.html' %}
{% load static i18n thumbnail commercial_tags bootstrap4 %}
{% block content %}
    <div class="container">
        <h1>{% translate 'Complaint' %}: {{ complaint }}</h1>
        <div class="media">
            {% thumbnail complaint.receipt "complaint"|get_thumb_size crop="center" as im %}
                <img src="{{ im.url }}" class="align-self-start mr-3" alt="{{ complaint.product_name }}"
                     height="{{ im.height }}" width="{{ im.width }}">
            {% endthumbnail %}
            <div class="media-body">
                <h4 class="mt-0">{{ complaint.product_name }}</h4>
                <h5>{{ complaint.invoice }}</h5>
                <p>{{ complaint.description }}</p>
                <a href="{{ complaint.image.url }}">{% translate 'Original image' %}</a>
                {% if complaint.video %}
                    <a href="{{ complaint.video.url }}">{% translate 'Original video' %}</a>{% endif %}
                <p>{{ complaint.date_of_purchase|date }}</p>
            </div>
        </div>
        <table class="table table-striped py-3">
            <thead>
            <th>{% translate 'user' %}</th>
            <th>{% translate 'message' %}</th>
            <th>{% translate 'attachments' %}</th>
            </thead>
            <tbody>
            {% for msg in message_list %}
                <tr>
                    <td>{{ msg.user }}</td>
                    <td>{{ msg.text }}</td>
                    <td>
                        <ul>
                            {% for attach in msg.messageattachment_set.all %}
                                <li><a href="{{ attach.file.url }}">{{ attach.file_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form enctype="multipart/form-data" method="post" class="form pb-5" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-rocket"></i> {% translate 'Send' %}</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
