{% extends 'base.html' %}
{% load static i18n bootstrap4 %}
{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='{% static 'jquery-ui/jquery-ui.min.css' %}' />
{% endblock %}
{% block content %}
    <h1>{% translate 'Create new complaint' %}</h1>
    <form enctype="multipart/form-data" method="post" class="form pb-5" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button id="form" type="submit" class="btn btn-primary" onclick="on()">
                <i class="fa-solid fa-rocket"></i> {% translate 'Send' %}
            </button>
        {% endbuttons %}
    </form>
<div class="spinner-border" role="status" id="overlay" style="display: none;">
  <span class="sr-only">Loading...</span>
</div>
{% endblock %}
{% block extra_body %}
    <script>
    $(function () {
        $('#id_date_of_purchase').datepicker();
        $('#id_article').autocomplete({
            source: "{% url 'article_autocomplete_url' %}"
            {#focus: function( event, ui ) {#}
            {#    event.preventDefault();#}
            {#    $('#id_article').val(ui.item.label);#}
            {#},#}
            {#select: function( event, ui ) {#}
            {#    event.preventDefault();#}
            {#    $('#id_article').val(ui.item.label);#}
            {#}#}
        })
    });
    function on() {
        document.getElementById("form").style.display = "none";
        document.getElementById("overlay").style.display = "flex";
    }
    </script>
{% endblock %}
