{% extends "base.html" %}
{% load i18n commercial_tags thumbnail %}

{% block title %}{% trans 'card'|capfirst %} :: {{ block.super }}{% endblock %}

{% block content %}
    <form name="cartform" method="POST">
        {% csrf_token %}
        <table class="table table-striped p-5">
            <thead>
            <tr>
                <th scope="col">##</th>
                <th scope="col">{% trans 'name'|capfirst %}</th>
                <th scope="col">{% trans 'price'|capfirst %}</th>
                <th scope="col">{% trans 'count'|capfirst %}</th>
                <th scope="col">{% trans 'sum'|capfirst %}</th>
                <th scope="col">{% if not order.is_closed %}{% trans 'delete'|capfirst %}{% endif %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.get_order_items %}
                <tr>
                    <td scope="row">{{ forloop.counter }} {{ item.article.main_image }}</td>
                    <td>{% get_article_name item.article request.user %}</td>
                    <td align="right">{{ item.price }}</td>
                    <td align="right">{% if order.is_closed %}{{ item.count }}{% else %}<input type="text" value="{{ item.count }}" size="5" name="{{ item.pk }}">{% endif %}</td>
                    <td align="right">{{ item.sum|floatformat:2 }}</td>
                    <td align="center">{% if not order.is_closed %}<input type="checkbox" name="del_{{ item.pk }}">{% endif %}</td>
                    <td align="right">
                        {% thumbnail item.main_image_url "cart_small"|get_thumb_size crop="center" as im %}
                        <img src="{{ im.url }}" width="100" height="100" border="0">
                        {% endthumbnail %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td align="right" class="text-muted" colspan="4">{% trans 'full price'|capfirst %}</td>
                <td align="right" class="text-muted">{{ order.full_sum|floatformat:2 }}</td>
                <td scope="row"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right" colspan="4">{% trans 'discount'|capfirst %}</td>
                <td align="right">{{ order.discount.sum|floatformat:2 }} ({{ order.discount.percent|floatformat:2 }}%)</td>
                <td scope="row"></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">{{ order.count }}</td>
                <td align="right">{% if order.volume %}{% trans 'volume'|capfirst %}: {{ order.volume|floatformat:2 }}{% endif %}</td>
                <td align="right" colspan="2">{% trans 'order sum'|capfirst %}</td>
                <td align="right">{{ order.sum|floatformat:2 }}</td>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td align="right" colspan="4">{% trans 'delivery'|capfirst %}</td>
                <td align="right">{{ order.total_sum_with_delivery.delivery_price|floatformat:2 }}</td>
                <td scope="row"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right" colspan="4">{% trans 'total sum'|capfirst %}</td>
                <td align="right">{{ order.total_sum_with_delivery.total_sum|floatformat:2 }}</td>
                <td scope="row"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    <div class="row">
{#        <div class="col-2">#}
{#            <input type="submit" value="{% trans 'Clear' %}" name="submit" class="btn btn-danger">#}
{#        </div>#}
        {% if not order.is_closed %}
        <div class="col-12 text-right">
            <input type="submit" value="{% trans 'Recalculate' %}" name="submit" class="btn btn-secondary">
            <input type="submit" value="{% trans 'Send' %}" name="submit" class="btn btn-primary">
        </div>
        {% endif %}
    </div>
<div class="row pt-2 pb-5">
    <div class="col w-75">
        {% trans 'Comment' %}:
        {% if order.is_closed %}
            <p>{{ order.comment }}</p>
        {% else %}
        <textarea name="comment" class="w-75"></textarea>
        {% endif %}
    </div>
</div>
    </form>
{% endblock %}
