{% extends "base.html" %}
{% load i18n commercial_tags thumbnail %}

{% block title %}{% trans 'card'|capfirst %} :: {{ block.super }}{% endblock %}

{% block content %}
    <form name="cartform" method="POST" id="cartform">
        {% csrf_token %}
        {{ order_items_formset.management_form }}
        <table class="table table-striped p-5">
            <thead>
            <tr>
                <th scope="col">{% trans 'name'|capfirst %}</th>
                <th scope="col" align="right">{% trans 'price'|capfirst %}</th>
                <th scope="col" align="right">{% trans 'count'|capfirst %}</th>
                <th scope="col" align="right">{% trans 'sum'|capfirst %}</th>
                <th scope="col">{% if not order.is_closed %}{% trans 'delete'|capfirst %}{% endif %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for order_item_form in order_items_formset %}
                    <tr>
                        <td>{{ order_item_form.id }}{% get_article_name order_item_form.instance.article request.user %}</td>
                        <td align="right">{{ order_item_form.instance.price|floatformat:2 }}</td>
                        <td align="right">{% if order.is_closed %}{{ order_item_form.count.value }}{% else %}{{ order_item_form.count }}{% endif %}</td>
                        <td align="right">{{ order_item_form.instance.sum|floatformat:2 }}</td>
                        <td>{{ order_item_form.DELETE }}</td>
                        <td align="right">
                            {% thumbnail order_item_form.instance.main_image_url "cart_small"|get_thumb_size crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td align="right" class="text-muted" colspan="3">{% trans 'full price'|capfirst %}</td>
                <td align="right" class="text-muted">{{ order.full_sum|floatformat:2 }}</td>
                <td scope="row" colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right" colspan="3">{% trans 'discount'|capfirst %}</td>
                <td align="right">{{ order.discount.sum|floatformat:2 }} ({{ order.discount.percent|floatformat:2 }}%)</td>
                <td scope="row" colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row">{{ order.count }}</td>
                <td align="right">{% if order.volume %}{% trans 'volume'|capfirst %}: {{ order.volume|floatformat:2 }}{% endif %}</td>
                <td align="right">{% trans 'order sum'|capfirst %}</td>
                <td align="right">{{ order.sum|floatformat:2 }}</td>
                <td scope="row" colspan="2"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td align="right" colspan="2">
                    <label for="{{ form.delivery.id_for_label }}">Country of delivery</label>
                    {{ form.delivery }}
                    {{ form.delivery.errors }}
                </td>
                <td align="right">{{ order.total_sum_with_delivery.delivery_price|floatformat:2 }}</td>
                <td scope="row" colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right" colspan="3">{% trans 'total sum'|capfirst %}</td>
                <td align="right">{{ order.total_sum_with_delivery.total_sum|floatformat:2 }}</td>
                <td scope="row" colspan="2"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    <div class="row">
        {% if not order.is_closed %}
        <div class="col-12 text-right">
            <input type="hidden" name="send" value="false" id="send-input">
            <input type="submit" value="{% trans 'Recalculate' %}" class="btn btn-secondary">
            <input type="submit" value="{% trans 'Send' %}" class="btn btn-primary" onclick="document.getElementById('send-input').value='true'">
        </div>
        {% endif %}
    </div>
<div class="row pt-2 pb-5">
    <div class="col w-75">
        {% trans 'Comment' %}:
        {% if order.is_closed %}
            <p>{{ order.comment }}</p>
        {% else %}
            {{ form.comment }}
        {% endif %}
    </div>
</div>
    </form>
{% endblock %}
