{% load i18n %}
<b>{% trans 'order'|capfirst %} {{ order }}</b>
<p>{{ order.comment }}</p>
<table width="100%" border="1">
    <thead>
        <tr>
            <th width="5%">##</th>
            <th>{% trans 'name'|capfirst %}</th>
            <th width="10%">{% trans 'price'|capfirst %}</th>
            <th width="10%">{% trans 'count'|capfirst %}</th>
            <th width="10%">{% trans 'sum'|capfirst %}</th>
            <th width="10%">{% trans 'volume'|capfirst %}</th>
            <th width="10%">{% trans 'weight'|capfirst %}</th>
            <th width="10%">{% trans 'barcode'|capfirst %}</th>
            <th width="10%">{% trans 'company'|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td align="right">{{ forloop.counter }}</td>
            <td>{{ item.name }}</td>
            <td align="right">{{ item.price|floatformat:2 }}</td>
            <td align="right">{{ item.count }}</td>
            <td align="right">{{ item.sum|floatformat:2 }}</td>
            <td align="right">{{ item.volume|floatformat:2 }}</td>
            <td align="right">{{ item.weight }}</td>
            <td align="right">{{ item.barcode }}</td>
            <td align="right">{{ item.company }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td align="right">{{ order.count }}</td>
            <td align="right">{{ order.sum|floatformat:2 }}</td>
            <td align="right">{{ order.volume|floatformat:2 }}</td>
            <td align="right">{{ order.weight }}</td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>
{{ cvs_files }}
{% for name, url in csv_files %}
<a href="{{ url }}">{{ name }}</a>
{% endfor %}
