<b>Заказ {{ order }}</b>
<p>{{ order.comment }}</p>
<table width="100%" border="1">
    <thead>
        <tr>
            <th width="5%">##</th>
            <th>Наименование</th>
            <th width="10%">Цена</th>
            <th width="10%">Кол-во</th>
            <th width="10%">Сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td align="right">{{ forloop.counter }}</td>
            <td>{{ item.article }}</td>
            {% if user.profile.show_price %}<td align="right">{{ item.price|floatformat:2 }}</td>{% else %}<td></td>{% endif %}
            <td align="right">{{ item.count }}</td>
            {% if user.profile.show_price %}<td align="right">{{ item.sum|floatformat:2 }}</td>{% else %}<td></td>{% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td align="right">{{ order.count }}</td>
            {% if user.profile.show_price %}<td align="right">{{ order.sum|floatformat:2 }}</td>{% else %}<td></td>{% endif %}
        </tr>
    </tfoot>
</table>
