{% extends 'base.html' %}

{% load static %}

{% block content %}
    <table class="table table-striped">
    <tr>
        <th scope="col">Номер заказа</th>
        <th scope="col">Дата заказа</th>
        <th scope="col">Сумма заказа</th>
    </tr>
    {% for order in order_list %}
        <tr>
            <td scope="row"><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></td>
            <td>{{ order.date }}</td>
            <td>{{ order.sum|floatformat:2 }} грн</td>
        </tr>
    {% endfor %}
    </table>
    {% include 'commercial/paginator.html' %}
{% endblock %}
